<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Notification permission (required from Android 13 / API 33) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="NEXBY"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NEXBY"
        tools:targetApi="31">

        <!-- Launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ContactAdminActivity" />
        <activity android:name=".CategoriesActivity"/>
        <activity android:name=".AdminProfileActivity"/>
        <activity android:name=".AddCompanyActivity"/>
        <activity android:name=".AddUserActivity"/>
        <activity android:name=".CompaniesByCategoryActivity"/>

    </application>

</manifest>
